body{
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font: 14px/1.5 monospace;
    color: var(--fontcolor);
    background: var(--bgcolor);
    text-align: justify;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#logo {
    height: 200px;
    width: 100%;
    background: url("logo.png");
    background-size: contain;
    /* background-position: center; */
    background-repeat: no-repeat;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

table, img, video {
    display: block;
    max-width: 100%;
    height: auto;
    overflow: scroll;
    margin: auto;
}

table, th, td {
    font-size: 16px;
    border: 1px solid black;
    border-collapse: collapse; 
    height: 100%;
    overflow: auto;
    background: white;
}

td {
    padding: 0.1em 0.5em 0.1em 0.5em !important;
}

td:first-child {
    text-align: right;
    position: sticky;
    left: 0px;
    box-shadow: 0px 0px 0px 1px black;
}

td[rowspan] {
    background: #FFFF00;
}

.activity {
    font-weight: bold;
}

.location {
    font-style: italic;
    font-weight: lighter;
}
